<div class="content">
  <div class="row justify-content-center" >
    <h1>Formulario de Contacto</h1>
  <p>Contáctanos para obtener más información.</p>

  <div class="col-md-6">
    <form [formGroup]="contactoForm" (submit)="enviarContacto()" class="row g-3">

      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre"
      />
  
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" formControlName="email" />
  
      <label for="mensaje">Mensaje:</label>
      <textarea
        id="mensaje"
        formControlName="mensaje"
        rows="4"
        placeholder="HTML"
      ></textarea>

      <div class="col-md-auto" style="text-align: right;">
        <button type="submit">Enviar Mensaje</button>
        
      </div>  
    </form>
  </div>
  </div>
  

  <p>Nombre: {{ contactoForm.value.nombre }}</p>
  <p>Email: {{ contactoForm.value.email }}</p>
  <p>Mensaje: {{ contactoForm.value.mensaje }}</p>
  
</div>