<header class="main-header">
    <div class="navbar">
        <div class="logo">
            <a routerLink="inicio">
                <img src="../../../assets/logoWhite.png" alt="Logo del proyecto" class="logo">
                <span class="logo-text">ARRIENDOS FACIL CRM</span>
            </a>
        </div>
        
            <nav>
                <ul class="links">
                    <li><a [routerLink]="ROUTER_APP.INICIO">inicio</a></li>
                    <li><a [routerLink]="ROUTER_APP.CLIENTES" >Clientes</a></li>
                    <li><a [routerLink]="ROUTER_APP.ACERCA_DE">About</a></li>
                    <li><a [routerLink]="ROUTER_APP.CONTACTO">Contact</a></li>
                    <li><a [routerLink]="ROUTER_APP.USUARIOS">Usuarios</a></li>                   
                </ul>
            
            </nav>
            <!-- <a routerLink="registro">
                <button type="button" class="btn btn-secondary"> Sign-Up</button>
            </a> -->
            <!-- <ng-template [appPermisos]="['ADMIN']"> -->
            <a class="action_btn">
                <li (click)="cerrarSesion()" 
                class="btn btn-primary">Cerrar Sesión</li>
            </a>
        <!-- </ng-template> -->
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>        
    </div>    
</header>