<header class="main-header">
    <div class="navbar">
      
   <div class="logo">
    <a routerLink="inicio">
        <img src="../../../assets/logoWhite.png" alt="Logo del proyecto" class="logo">
        <span class="logo-text">ARRIENDOS FACIL CRM</span>
    </a>
</div>
    
            <nav class="main_nav">
                <ul class="links">

                    <li><a *appPermisos= "['ADMIN']" [routerLink]="ROUTER_APP.INMUEBLES">Inmuebles</a></li>
                    <li><a *appPermisos= "['ADMIN']" [routerLink]="ROUTER_APP.USUARIOS">Usuarios</a></li>
                    <li><a *appPermisos= "['ADMIN']" [routerLink]="ROUTER_APP.PQRS">PQRS</a></li>  
                    <li><a *appPermisos= "['ARRENDATARIO']" [routerLink]="ROUTER_APP.MIARRIENDO">Mi arriendo</a></li> 
                    <li><a *appPermisos="[]" [routerLink]="ROUTER_APP.CONTACTO">Contacto</a></li>
                    <li><a *appPermisos="['ARRENDATARIO']" [routerLink]="ROUTER_APP.CONTACTO">Contacto</a></li>
               
                </ul>
            </nav>
      
            <a *appPermisos="[]" [routerLink]="ROUTER_APP.AUTENTICACION" class="boton-inicio">
                <button type="button" class="btn btn-secondary">Iniciar Sesión</button>
            </a>

            <a *appPermisos="['ARRENDATARIO','ADMIN']" class="boton-cerrar"(click)="cerrarSesion()">
            <button  type="button" class="btn btn-secondary" >Cerrar Sesión</button>
            </a>

    </div>    
</header>