li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}

header{
    position: relative;
    padding: 0 2rem;
}
.main-header{
  background: linear-gradient(45deg,red,blue,green,black);
  background-size: 400% 400%;
  position: relative;
  /*background-color: #fff;*/
  color: #333;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  animation: cambiar 10s ease infinite;

}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .logo img {   /*logo de la imagen*/
    height: 50px;
    width:  auto;
    transition: all 0.3s;  /*la transicion para que no sea tan brusco*/
}
.navbar .logo img:hover{  /* logo imagen cuando crece a escala*/
    transform: scale(1.3);
}

/* //dsd */

.navbar .links{
    display: flex;
    gap:2rem;
}
.navbar .toggle_btn{
    color :#000000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* seccion del buscador */
