<div class="contenido">
    <form [formGroup]="inmuebleForm" (submit)="crearInmueble(); cerrarF()" class="row g-3">
        <div class="col-md-6">
            <input type="hidden" formControlName="_id">
            <label for="tipoInmueble" class="form-label">Tipo de inmueble</label>
            <input 
                type="text" 
                formControlName="tipoInmueble" 
                class="form-control" 
                placeholder="Ingrese el tipo de inmueble">
  
            <label for="fechaIngreso" class="form-label">Fecha de ingreso</label>
            <input 
                type="text" 
                formControlName="fechaIngreso" 
                class="form-control" 
                placeholder="Ingrese la fecha inicio">
  
            <label for="fechaPago" class="form-label">Fecha de pago</label>
            <input 
                type="text" 
                formControlName="fechaPago" 
                class="form-control" 
                placeholder="Ingrese la fecha pago">
        </div>
        
        <div class="col-md-6">
            <label for="valorPago" class="form-label">Valor de pago</label>
            <input 
                type="text" 
                formControlName="valorPago"  
                class="form-control" 
                placeholder="Ingrese el valor a pagar">
  
            <label for="estado" class="form-label">Estado</label>
            <input 
                type="text" 
                formControlName="estado" 
                class="form-control" 
                placeholder="Ingrese el estado del inmueble">
  
            <label for="usuario" class="form-label">Usuario arrendatario</label>
            <input 
                type="text" 
                formControlName="usuario" 
                class="form-control" 
                placeholder="Ingrese el nombre del usuario">
        </div>
  
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">{{ editando ? 'Editar inmueble' : 'Crear inmueble' }}</button>
        </div>
    </form>
  </div>
