.parallax1 {
    background-image: url('../../assets/fondo1.jpg'); /* Replace 'background.jpg' with your image */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .parallax-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
 

.parallax2 {
    background-image: url('../../assets/fondo2.jpg'); /* Replace 'background.jpg' with your image */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.parallax3 {
    background-image: url('../../assets/fondo3.jpg'); /* Replace 'background.jpg' with your image */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.content {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
