<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../../assets/imag1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/imag2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/imag3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../../assets/imag4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/imag5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/imag6.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<div class="parallax1">
  <div class="parallax-content">
    <h1>Welcome to our website</h1>
    <p>Scroll down to see the parallax effect!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolor asperiores, pariatur voluptas dolore unde architecto, placeat animi delectus autem odit esse mollitia alias perferendis aliquid reiciendis ex repellendus dicta.
    Voluptas sed optio repudiandae corporis assumenda inventore voluptatem ut ea exercitationem aliquid, unde sapiente nemo eaque vitae, illo nihil mollitia, quas dolorum qui enim sequi totam ab vel dolor. Praesentium?
    Dolorum pariatur, aspernatur praesentium aperiam veniam tempora neque facere soluta maxime, eligendi a veritatis illum perspiciatis, facilis maiores! Harum soluta eum cumque consequuntur maxime. Vel veritatis minus illum aspernatur enim?
    Reiciendis quisquam est dolor quasi commodi, harum ea doloremque odit. Quam quas quod error doloremque provident quia nobis culpa nostrum fugit nihil molestias consequuntur eos distinctio a vel, deleniti quidem?
    Expedita, excepturi! Iste commodi minus reprehenderit possimus eius, ex culpa, impedit, expedita optio non ea. Consectetur voluptatibus veritatis dignissimos autem numquam deserunt, nisi neque est. Culpa saepe voluptatibus optio earum!</p>
  </div>
</div>
<div class="parallax2">
  <div class="parallax-content">
  <h2>Main Content</h2>
  <p>This is the main content of the website.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias necessitatibus, reprehenderit eveniet in, quam reiciendis quos aperiam saepe, culpa asperiores excepturi ea minima ad possimus laudantium eligendi tempore repellendus unde!
  Esse, reiciendis enim. Eum placeat, voluptate quod praesentium doloremque sequi, odit temporibus exercitationem harum voluptatem ducimus alias tempore delectus magni veniam corrupti voluptatibus maxime ab numquam ipsam libero, quia assumenda?
  Possimus, aut quae numquam in cum consectetur illo corporis accusamus minima fugiat eveniet. Ullam quod asperiores neque minus mollitia iure vero voluptates repudiandae nisi voluptas. Assumenda ipsam mollitia adipisci ratione.
  Dolore iste minus porro neque! Neque eligendi, quaerat iusto ipsam aliquam tenetur mollitia nostrum optio molestias architecto eius voluptatum minima quisquam, nihil eaque iure dignissimos tempora? Eum earum explicabo neque.</p>
  </div>
</div>
<div class="parallax3">
  <div class="parallax-content">
  <h2>Main Content</h2>
  <p>This is the main content of the website.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias necessitatibus, reprehenderit eveniet in, quam reiciendis quos aperiam saepe, culpa asperiores excepturi ea minima ad possimus laudantium eligendi tempore repellendus unde!
  Esse, reiciendis enim. Eum placeat, voluptate quod praesentium doloremque sequi, odit temporibus exercitationem harum voluptatem ducimus alias tempore delectus magni veniam corrupti voluptatibus maxime ab numquam ipsam libero, quia assumenda?
  Possimus, aut quae numquam in cum consectetur illo corporis accusamus minima fugiat eveniet. Ullam quod asperiores neque minus mollitia iure vero voluptates repudiandae nisi voluptas. Assumenda ipsam mollitia adipisci ratione.
  Dolore iste minus porro neque! Neque eligendi, quaerat iusto ipsam aliquam tenetur mollitia nostrum optio molestias architecto eius voluptatum minima quisquam, nihil eaque iure dignissimos tempora? Eum earum explicabo neque.</p>
  </div>
</div>
<div class="content">
  <h2>Main Content</h2>
  <p>This is the main content of the website.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias necessitatibus, reprehenderit eveniet in, quam reiciendis quos aperiam saepe, culpa asperiores excepturi ea minima ad possimus laudantium eligendi tempore repellendus unde!
  Esse, reiciendis enim. Eum placeat, voluptate quod praesentium doloremque sequi, odit temporibus exercitationem harum voluptatem ducimus alias tempore delectus magni veniam corrupti voluptatibus maxime ab numquam ipsam libero, quia assumenda?
  Possimus, aut quae numquam in cum consectetur illo corporis accusamus minima fugiat eveniet. Ullam quod asperiores neque minus mollitia iure vero voluptates repudiandae nisi voluptas. Assumenda ipsam mollitia adipisci ratione.
  Dolore iste minus porro neque! Neque eligendi, quaerat iusto ipsam aliquam tenetur mollitia nostrum optio molestias architecto eius voluptatum minima quisquam, nihil eaque iure dignissimos tempora? Eum earum explicabo neque.</p>
  </div>